html {
    font-size: 16px; 
    /* default 16px */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.toggle {
    height: 5rem;
    width: 16rem;
    background: #c6c6c6;
    border-radius: 3rem;
    content: "";
}

.toggle-cb {
    display: none;
}

.toggle-cb + label::before, .toggle-cb + label::after {
    display: block;
    position: relative;
    width: 98.8%;
    height: 96%;
    left: .08rem;
    top: .1rem;
  }

  .toggle-cb + label::before {
    background-color: #D02C42;
    color: #fff;
    border-radius: 3rem;
    transition: 0.3s;
    white-space: pre;
    line-height: 1.65;
    font-family: sans-serif;
    font-size: 3rem;
    content: "    Yes";
  }

  .toggle-cb + label::after {
    position: relative;
    content: "";
    top: -5.8rem;
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    border-radius: 100%;
    border: 0.1rem solid #c6c6c6;
    transition: ease 0.3s;
    color: #c6c6c6;
    margin-left: 10.5rem;
    content: "";
  }

  .toggle-cb:checked + label::before {
    background-color: #f1f1f1;
    color: #c6c6c6;
    content: "          No";
  }

  .toggle-cb:checked + label::after {
    margin-left: -1rem;
    content: "";
  }
